@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("https://wallpapers.com/images/featured/7sfd6znw2ry6hnlt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Cutive Mono', monospace, 'Raleway', sans-serif;
}

.mac-dock {
  width: 600px;
  padding: 10px; /* Adjust the padding as needed */
  border-radius: 10px; /* Adjust the border radius as needed */
  margin: 0 auto; /* Center the dock */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow to the dock */
  margin-top: 20px;
  backdrop-filter: blur(5px); /* Apply a blur effect to the background */
    font-family: 'Cutive Mono', monospace, 'Raleway', sans-serif;
}
  
  .dock-items {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .dock-item {
    margin-right: 10px; /* Adjust the spacing between dock items */
  }
  

  .saved-item-settings-modal :focus {
    outline: none;
  }

.vertical-text {
  writing-mode: vertical-lr;
  text-transform: uppercase;
  color: #fff;
  font-size: 9px;
  padding: 4px;
  margin-left: auto;
  margin-right: -10px;
}

.round-item:hover {
  transform: scale(1.3) translateY(-7px);
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.5);
  transition: transform 0.6s ease;
}

.round-item:not(:hover) {
  transition: transform 0.3s ease;
}

.round-item:not(:hover):after {
  content: "";
  display: block;
  height: 15px;
  transform: translateY(15px);
  transition: transform 0.3s ease;
}

.round-item:not(:hover):hover:after {
  transform: translateY(0);
}

.white-input.Mui-focused .MuiInput-underline:before {
  border-bottom-color: white !important;
}

.bar-section-items {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: hide;
  padding: 10px;
  max-width: 895px;
}

.scroll-button {
  font-size: 1.5rem;
  padding: 5px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.323);
}


