@tailwind base;
@tailwind components;
@tailwind utilities;

.mac-dock {
    width: 600px;
    background-color: #e4cdb7; /* Set the background color of the dock */
    padding: 10px; /* Adjust the padding as needed */
    border-radius: 10px; /* Adjust the border radius as needed */
    margin: 0 auto; /* Center the dock */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow to the dock */
    margin-top: 20px;
  }
  
  .dock-items {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .dock-item {
    margin-right: 10px; /* Adjust the spacing between dock items */
  }
  

  .saved-item-settings-modal :focus {
    outline: none;
  }