




.dock-items {
  display: flex;
  margin: 0;
  padding-right: 10px;
  min-width: 300px;
  max-width: 780px;
  background-color: green;
  overflow-x: hidden;
}

.mac-dock {
  display: flex;
  padding: 10px;
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  margin-top: 20px;
  backdrop-filter: blur(5px); 
  font-family: 'Cutive Mono', monospace, 'Raleway', sans-serif;
}





.dock-item {
  margin-right: 10px;
}

#mac-dock-apps{
  background-color: rgba(0, 0, 0, 0.503);
}

#mac-dock-channels{
  background-color: rgba(164, 30, 30, 0.7);
}

.round-item:hover {
  transform: scale(1.3) translateY(-7px);
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.5);
  transition: transform 0.6s ease;
}

.round-item:not(:hover) {
  transition: transform 0.3s ease;
}

.round-item:not(:hover):after {
  content: "";
  display: block;
  height: 15px;
  transform: translateY(15px);
  transition: transform 0.3s ease;
}

.round-item:not(:hover):hover:after {
  transform: translateY(0);
}
  
.round-item:not(:hover):after {
  content: "";
  display: block;
  transform: scale(1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
.round-item:not(:hover):hover:after {
  transform: scale(1.2);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.saved-item-settings-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  backdrop-filter: blur(5px);
}

.scroll-arrow {
  margin-top: 23px;
  color: white;
  animation: bounce 2s infinite;
}

.scroll-arrow .right{ 
  padding-left: 10px;
}

.saved-item-settings-modal :focus {
  outline: none;
}

.vertical-text {
  writing-mode: vertical-lr;
  text-transform: uppercase;
  color: #fff;
  font-size: 9px;
  padding: 4px;
  margin-left: auto;
  margin-right: -10px;
}